# Node/JS
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
dist/
build/

# Python
__pycache__/
*.pyc

# Environments
.env
.env.*.local

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
tmp/
